.git
.github
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/logs/*.log
bootstrap/cache/*.php
!.gitkeep
.env
.env.*
Dockerfile
docker-compose.yml
public/build
public/storage
tests
phpunit.xml
.editorconfig
.styleci.yml
.gitattributes
README.md
